#main-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #fff;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#gamefield {
  width: 960px;
  height: 704px;
  border: 2px solid #000;
  margin: 20px auto;
  background-color: #e0e0e0;
}

#player {
  width: 64px; /* Width for the first character */
  height: 64px; /* Hight for the first character */
  background: url("../assets/Character-3.png") no-repeat;
  background-size: 256px 256px; /* Size of the entire image */
  background-position: 0 0; /* Position to show the top-left corner */
  position: absolute;
}

#enemy {
  width: 64px; /* Width for the first character */
  height: 64px; /* Hight for the first character */
  background: url("../assets/Character-5.png") no-repeat; 
  background-size: 256px 256px; /* Size of the entire image */
  background-position: 0 0; /* Position to show the top-left corner */
  position: absolute;
}

.player-collide {
  animation: blink 0.5s infinite alternate;
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
