#main-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #fff;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#gamefield {
  border: 2px solid #000;
  margin: 20px auto;
  background-color: #e0e0e0;
  display: inline-block;
  position: relative;
  width: fit-content; /* Adjust to background size */
  height: fit-content; /* Adjust to background size */
}

#player,
#enemy {
  width: 32px; /* Width for the first character */
  height: 32px; /* Hight for the first character */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; /* Place above background */
}

#player {
  background: url("../assets/images/character/Character-3.png") no-repeat;
  background-size: 128px 128px; /* Size of the entire image */
  background-position: 0 0; /* Position to show the top-left corner */
}

#enemy {
  background: url("../assets/images/character/Character-5.png") no-repeat;
  background-size: 128px 128px; /* Size of the entire image */
  background-position: 0 0; /* Position to show the top-left corner */
}

.player-collide {
  animation: blink 0.5s infinite alternate;
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
